In [3]:
import pandas as pd

In [4]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                        'author_name': ['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [6]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 
                                  'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price':[100, 200, 150, 300, 250, 100, 90]}, 
                    columns=['author_id', 'book_title', 'price'])
print(book)

   author_id            book_title  price
0          1           Отцы и дети    100
1          1                 Рудин    200
2          1     Дворянское гнездо    150
3          2      Толстый и тонкий    300
4          2       Дама с собачкой    250
5          3                 Гроза    100
6          3  Таланты и поклонники     90

In [8]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'right')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    100
1          1    Тургенев                 Рудин    200
2          1    Тургенев     Дворянское гнездо    150
3          2       Чехов      Толстый и тонкий    300
4          2       Чехов       Дама с собачкой    250
5          3  Островский                 Гроза    100
6          3  Островский  Таланты и поклонники     90

In [11]:
top5 = authors_price.sort_values(by='price', ascending=False).head(5)
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    300
4          2       Чехов    Дама с собачкой    250
1          1    Тургенев              Рудин    200
2          1    Тургенев  Дворянское гнездо    150
0          1    Тургенев        Отцы и дети    100